body {
    background-color: #100b21ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    overflow: hidden;
}

/*---------- div ----------*/

.start_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10vh;
    height: 65vh;
    animation: slide_up_disappear 1s ease-in-out forwards paused;
}

.explain_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 6vw;
    padding-right: 6vw;
    height: 80vh;
    animation: slide_right_appear 1s ease-out 0.5s forwards paused;
    opacity: 0%;
}

.explain_btn_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hider {
    width: 100vw;
    height: 110vh;
    margin-top: -110vh;
    margin-left: -10px;
}

#hider_div1 {
    margin-top: 0;
    background-color: #021f9fff;
    animation: hider_slide 0.8s ease-in-out forwards paused;
}

#hider_div2 {
    background-color: #fff;
    animation: hider_slide 0.8s ease-in-out 0.15s forwards paused;
}

#hider_div3 {
    background-color: #f52b41ff;
    animation: hider_slide 0.8s ease-in-out 0.3s forwards paused;
}

#hider_div4 {
    background-color: #100b21ff;
    animation: hider_slide 0.8s ease-in-out 0.45s forwards paused;
}

/*---------- text ----------*/

.explain_text {
    font-size: 5vh;
    line-height: 7vh;
}

.start_text {
    font-size: 5vh;
    text-align: center;
    animation-name: opacity;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*---------- text effects ----------*/

.text_white {
    color: white;
}

.text_grad {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(45deg, #111b71ff, #021f9fff, #3f2288ff, #7c2570ff, #b92859ff, #f52b41ff);
    background-size: 300%;
    background-position: bottom left;
    animation: grad_slide 10s linear infinite;
}

/*---------- btn ----------*/

.btn {
    margin-right: 5%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    color: white;
}

.start_btn {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5vh;
    padding-right: 5vh;
    border: 2px solid white;
    font-size: 5vh;
    animation: 3s opacity forwards;
}

.explain_btn {
    margin-right: 5%;
    border: 2px solid white;
    font-size: 3.5vh;
}

/*---------- btn effects ----------*/

.btn_grad {
    background-image: linear-gradient(60deg,#100b21ff, #3f2288ff, #f52b41ff);
    background-size: 400%;
    background-position: left;
    transition: 0.6s background-position ease-in-out;
}

.btn_grad:hover {
    cursor: pointer;
    background-position: right;
}

.btn_glow {
    background: #100b21ff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn_glow:before {
    content: '';
    background: linear-gradient(45deg, #201642ff, #111b71ff, #021f9fff, #3f2288ff, #7c2570ff, #b92859ff, #f52b41ff, #f52b41ff, #b92859ff, #7c2570ff, #3f2288ff, #021f9fff, #111b71ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: grad_slide 5s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.btn_glow:hover:before {
    opacity: 1;
}

.btn_glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #100b21ff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*---------- keyframes ----------*/

@media (max-width: 700px) {
    .explain_div {padding-top: 5vh; }
    .explain_text { font-size: 8vw; line-height: 7vh; }
    .start_btn { font-size: 4vh; padding: 2vh;}
}

@media (max-height: 500px) {
    .explain_text { font-size: 7vh; line-height: 9vh; }
}

@keyframes opacity {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes slide_up_disappear {
    from {
        transform: translateY(0px);
        height: 65vh;
        padding: 10vh;
    }
    99% {
        height: 65vh;
        padding: 10vh;
    }
    to {
        transform: translateY(-70vh);
        height: 0vh;
        padding: 0px;
    }
}

@keyframes slide_right_appear {
    from {
        opacity: 0%;
        transform: translateX(-20vw);
    }
    60% { opacity: 0%; }
    to {
        opacity: 100%;
        transform: translateY(0vw);
    }
}

@keyframes grad_slide {
    from { background-position: bottom left; }
    25% { background-position: top left; }
    50% { background-position: top right; }
    75% { background-position: bottom right; }
    to { background-position: bottom left; }
}

@keyframes hider_slide {
    from { transform: translateY(0vh); }
    to {transform: translateY(-110vh); }
}

/*
--xiketic: #100b21ff;
--russian-violet: #201642ff;

--midnight-blue: #111b71ff;
--blue-pantone: #021f9fff;

--spanish-violet: #3f2288ff;
--midnight: #7c2570ff;

--rose-red: #b92859ff;
--imperial-red: #f52b41ff;
*/